@charset "utf-8";
*{
	margin:0;
	padding:0;
}

div.conteinar{
	border:1px solid red;
	width:980px;	
	margin:0 auto;
}

div.conteinar div.slideshow{
	border:1px solid blue;
	width:480px;
	height:320px;
}

div.conteinar div.train{
	border:1px solid orange;
}