@charset "utf-8";
*{
	margin:0;
	padding:0;
}

div.conteinar{
	border:1px solid red;
	width:980px;	
	margin:0 auto;
}

div.conteinar div.slideshow{
	border:1px solid blue;
	width:450px;
	height:330px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}

div.conteinar div.train{
	border:1px solid orange;
	width:5000px;
	height:300px;
	position:absolute;
	top:0px;
	left:0px;
}

div.conteinar div.train > div{
	border:1px solid orange;
	width:450px;
	float:left;
	height:inherit;
	background-repeat:no-repeat;
	background-size:cover;
}

div.slideshow ul.slidenav {
	list-style-type:none;
	position:absolute;
	bottom:0px;
	left:0px;
	height:13px;
}

div.slideshow ul.slidenav > li{
	border:1px solid black;
	width:30px;
	height:10px;
	float:left;
	margin-right:5px;
	background-color:#003;
}
