@charset "utf-8";
*{
	padding:0;
	margin:0;
}
nav.menunav {
	position:absolute;
	width:500px;
	margin-top:50px;
}

nav.menunav menu{
	list-style:none;
}

nav.menunav li{
	background-image:url('./images/paper2.jpg');
	background-position:right;
	position:relative;
	display:block;
	width:120px;
	height:60px;
	border-radius:12px;
	margin-bottom:2px;
	left:-120px;
}
nav.menunav span{
	width:48px;
	height:48px;
	position:absolute;
	left:60px;
	top:5px;
}
