@charset "utf-8";
*{
	padding:0;
	margin:0;
}
nav.menunav {
	position:absolute;
	width:500px;
}

nav.menunav menu{
	list-style:none;
}

nav.menunav li{
	position:relative;
	display:block;
	width:100px;
	height:80px;
	background-color:orange;
	border-radius:12px;
	margin-bottom:2px;
	left:-100px;
}